*{
    margin:0;
    padding: 0;
}
body{
    background: slateblue;
}
.container{
    width:80%;
    margin: 80px auto;
}
.container h1{
    padding: 60px 0;
    color:#fff;
    font-size: 44px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 245px;
}
.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.small-img-row{
    display:flex;
    background: #d3d5d9;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}
.small-img{
    position:relative;
}
.small-img img{
    width:150px;
}
.video-player{
    width:60%;
    left:50%;
    down:50%;
    position: relative;
    transform: translate(-15%,-5%);
}
video:focus:none;