body{
    background-color: rgb(58, 168, 241);
    color: brown;
    font-size: 21px;
}
p{
    color: #ff002b;
}
h1{
    font-size: 70px;
    color:rgb(100, 14, 42);
}
div{
    background: pink;
    width:500px;
}
span{
    color:blue;
    font-size: 30px;
}