body{
    font-family: 'Montserrat',sans-serif;
}
/*UTILITY CLASSES*/
.img-responsive{
    max-width: 100%;
}
.hero_image{
    background: url(354970.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    position: relative;
}
.hero_wrapper{
    color:rgb(242, 242, 250);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.hero_wrapper h1{
    font-size: 2.4rem;
    text-align: center;
}
.hero_wrapper span{
    margin-left: 5rem;
    display: inline-block;
    margin-bottom: .5rem;
}
.form_code{
    text-align: center;
}
.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: .6rem;
    border: none;
    outline:none;
}
.form_code button{
    width: 40%;
    display: inline-block;
    text-align: centre;
    background-color:#00bab1;
    color:white;
    padding: .3rem;
    margin :1rem auto 0rem;
    border: none;
    border-radius: .3rem;
}
.Place{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Tourist_place{
    float:left;
    width: 33.33%;
    color: blue;
}

@media screen and (max-width: 700px){
    .Tourist_place{
        width: 100%;
        float: none;
    }
}
